<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <title>智酷</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/templatemo-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE Known-->
            <a href="#" class="navbar-brand">colsmart</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#top" class="smoothScroll">首页</a></li>
                <li><a href="#about" class="smoothScroll">关于我们</a></li>
                <li><a href="#team" class="smoothScroll">老师团队</a></li>
                <li><a href="#courses" class="smoothScroll">培训班</a></li>
                <li><a href="#testimonial" class="smoothScroll">评测说</a></li>
                <li><a href="#contact" class="smoothScroll">联系方式</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="tel:15236366687"><i class="fa fa-phone"></i> 152 36 3666 87</a></li>
            </ul>
        </div>

    </div>
</section>


<!-- HOME -->
<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Distance Learning Education Center</h1>
                            <h3>Our online courses are designed to fit in your industry supporting all-round with latest
                                technologies.</h3>
                            <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Start your journey with our practical courses</h1>
                            <h3>Our online courses are built in partnership with technology leaders and are designed to
                                meet industry demands.</h3>
                            <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Efficient Learning Methods</h1>
                            <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis
                                sollicitudin ut at libero. Visit <a href="#">templatemo</a> page.</h3>
                            <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FEATURE -->
<section id="feature">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>01</span>
                    <h3>热门课程</h3>
                    <p>有为每一个学子量身打造的学习方案，各个难点逐一攻克</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>02</span>
                    <h3>书籍和图书馆</h3>
                    <p>大数据分析出每位学子的需求，AI推出最适合的学习题库</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>03</span>
                    <h3>认证教师</h3>
                    <p>来自上海交通大学、复旦大学、河南工业大学各行业专家</p>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <h2>通过在线实践课程开始您的美好生活之旅</h2>

                    <figure>
                        <span><i class="fa fa-users"></i></span>
                        <figcaption>
                            <h3>专业培训师</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-certificate"></i></span>
                        <figcaption>
                            <h3>国际认证</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-bar-chart-o"></i></span>
                        <figcaption>
                            <h3>免费3个月</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="entry-form">
                   <!-- <form action="#" method="post">
                        <h2>Signup today</h2>
                        <input type="text" name="full name" class="form-control" placeholder="Full name" required="">

                        <input type="email" name="email" class="form-control" placeholder="Your email address"
                               required="">

                        <input type="password" name="password" class="form-control" placeholder="Your password"
                               required="">

                        <button class="submit-btn form-control" id="form-submit_start">Get started</button>
                    </form>-->
                    <p style="color: silver;text-align: justify">colsmart成立于2018年，获资2000万人民币，聚集了来自金融、IT和互联网行业的风控、数据、开发等领域的资深专家，
                        拥有一支专业高效的高精尖团队。自成立之初，colsmart便致力于通过云计算、机器学习等技术客观构建综合分析学生学习情况，为多个行业提供专业的大数据服务及分析推荐解决方案，colsmart通过持续的产品与技术创新为教育事业发展赋能。</p>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- TEAM -->
<section id="team">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>教师
                        <small>认识专业培训师</small>
                    </h2>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="images/author-image1.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>马克威尔逊</h3>
                        <span>我喜欢教学</span>
                    </div>
                    <ul class="social-icon">
                        <!--<li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>-->
                        <!--<li><a href="#" class="fa fa-twitter"></a></li>-->
                        <!--<li><a href="#" class="fa fa-instagram"></a></li>-->
                        <li><a href="http://www.colsmart.com"  style="font-size: 5px;text-align: center">DESIGN BY COLSMART</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="images/author-image2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>凯瑟琳</h3>
                        <span>教育是关键</span>
                    </div>
                    <ul class="social-icon">
                       <!-- <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>-->
                        <li><a href="http://www.colsmart.com"  style="font-size: 5px;text-align: center">DESIGN BY COLSMART</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="images/author-image3.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Jessie Ca</h3>
                        <span>我喜欢在线课程</span>
                    </div>
                    <ul class="social-icon">
                        <!--<li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-envelope-o"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>-->
                        <li><a href="http://www.colsmart.com"  style="font-size: 5px;text-align: center">DESIGN BY COLSMART</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="images/author-image4.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>安德鲁贝蒂</h3>
                        <span>学习很有趣</span>
                    </div>
                    <ul class="social-icon">
                       <!-- <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-behance"></a></li>-->
                        <li><a href="http://www.colsmart.com"  style="font-size: 5px;text-align: center">DESIGN BY COLSMART</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Courses -->
<section id="courses">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>热门课程
                        <small>用最新的课程升级你的技能</small>
                    </h2>
                </div>

                <div class="owl-carousel owl-theme owl-courses">
                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="images/courses-image1.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 7 个小时</span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Social Media Management</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="images/author-image1.jpg" class="img-responsive" alt="">
                                        <span>Mark Wilson</span>
                                    </div>
                                    <div class="courses-price">
                                        <a href="#"><span>USD 25</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="images/courses-image2.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 20 / 7 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 4.5 个小时</span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Graphic & Web Design</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="images/author-image2.jpg" class="img-responsive" alt="">
                                        <span>Jessica</span>
                                    </div>
                                    <div class="courses-price">
                                        <a href="#"><span>USD 80</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="images/courses-image3.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 15 / 8 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 6 个小时</span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Marketing Communication</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="images/author-image3.jpg" class="img-responsive" alt="">
                                        <span>Catherine</span>
                                    </div>
                                    <div class="courses-price free">
                                        <a href="#"><span>Free</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="images/courses-image4.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 10 / 8 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 8 个小时</span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Summer Kids</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="images/author-image1.jpg" class="img-responsive" alt="">
                                        <span>Mark Wilson</span>
                                    </div>
                                    <div class="courses-price">
                                        <a href="#"><span>USD 45</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="courses-thumb">
                                <div class="courses-top">
                                    <div class="courses-image">
                                        <img src="images/courses-image5.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="courses-date">
                                        <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                        <span><i class="fa fa-clock-o"></i> 10 个小时</span>
                                    </div>
                                </div>

                                <div class="courses-detail">
                                    <h3><a href="#">Business &amp; Management</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>

                                <div class="courses-info">
                                    <div class="courses-author">
                                        <img src="images/author-image2.jpg" class="img-responsive" alt="">
                                        <span>Jessica</span>
                                    </div>
                                    <div class="courses-price free">
                                        <a href="#"><span>Free</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</section>


<!-- TESTIMONIAL -->
<section id="testimonial">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>来自世界各地的
                        <small>学生评论</small>
                    </h2>
                </div>

                <div class="owl-carousel owl-theme owl-client">
                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img src="images/tst-image1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Jackson</h4>
                                <span>Shopify Developer</span>
                            </div>
                            <p>You really do help young creative minds to get quality education and professional job
                                search assistance. I’d recommend it to everyone!</p>
                            <!--<div class="tst-rating">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img src="images/tst-image2.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Camila</h4>
                                <span>Marketing Manager</span>
                            </div>
                            <p>Trying something new is exciting! Thanks for the amazing law course and the great teacher
                                who was able to make it interesting.</p>
                            <!--<div class="tst-rating">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img src="images/tst-image3.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Barbie</h4>
                                <span>Art Director</span>
                            </div>
                            <p>Donec erat libero, blandit vitae arcu eu, lacinia placerat justo. Sed sollicitudin quis
                                felis vitae hendrerit.</p>
                            <!--<div class="tst-rating">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="item">
                            <div class="tst-image">
                                <img src="images/tst-image4.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="tst-author">
                                <h4>Andrio</h4>
                                <span>Web Developer</span>
                            </div>
                            <p>Nam eget mi eu ante faucibus viverra nec sed magna. Vivamus viverra sapien ex, elementum
                                varius ex sagittis vel.</p>
                            <!--<div class="tst-rating">-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                                <!--<i class="fa fa-star"></i>-->
                            <!--</div>-->
                        </div>
                    </div>

                </div>

            </div>
        </div>
</section>


<!-- CONTACT -->
<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <form id="contact-form" role="form" action="" method="post">
                    <div class="section-title">
                        <h2>Contact us
                            <small>we love conversations. let us talk!</small>
                        </h2>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">

                        <input type="email" class="form-control" placeholder="Enter email address" name="email"
                               required="">

                        <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message"
                                  required=""></textarea>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input type="submit" class="form-control" name="send message" value="Send Message">
                    </div>

                </form>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="contact-image">
                    <img src="images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                </div>
            </div>

        </div>
    </div>
</section>


<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Headquarter</h2>
                    </div>
                    <address>
                        <p>ZhaoFeng Square, Zhongshan Park,<br> Shanghai, China</p>
                    </address>

                    <h2>Design By colsmart</h2>
                    <!--<ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li>DESIGN BY COLSMART</li>
                    </ul>-->

                    <div class="copyright-text">
                        <p>Copyright &copy; 2018.www.colsmart.com All rights reserved.<a target="_blank"
                                                                                         href="http://www.miibeian.gov.cn">豫ICP备18008980号-2</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Contact Info</h2>
                    </div>
                    <address>
                        <p><a href="tel:15236366687">152 36 3666 87</a></p>
                        <p><a href="mailto:zhangyinan07@hotmail.com">zhangyinan07@hotmail.com</a></p>
                    </address>

                    <div class="footer_menu">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Investor</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Refund Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="footer-info newsletter-form">
                    <div class="section-title">
                        <h2>Please note</h2>
                    </div>
                    <div>
                        <div class="form-group">
                           <!-- <form action="#" method="get">
                                <input type="email" class="form-control" placeholder="Enter your email" name="email"
                                       id="email" required="">
                                <input type="submit" class="form-control" name="submit" id="form-submit"
                                       value="Send me">
                            </form>-->
                            <span><sup>*</sup> | - 线上活动请电话确认是否有效</span>
                            <span><sup>*</sup> | - 最终解释权归COLSMART所有</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>

</body>
</html>